# Quarto specific
/.quarto/
/_freeze/
/_site/
/fonts/
/site_libs/

# RStudio specific
.Rhistory

# GoLand specific
/.idea/

# Gemini specific
/.gemini/

# Unused local files (kept for reference)
/.unused/

# R packages and environments
.Rproj.user
.RData

# Local Netlify folder
.netlify

# Private promotion campaign data
/_promotion-campaign/
